.widget
  .widget-title
    i.fa.fa-external-link
    span.widget-title-text= __('blogroll')
  - for (var i in theme.links)
    ul
    a(href=theme.links[i].url, title=theme.links[i].title, target='_blank') #{theme.links[i].title}
