#local-search-result {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

#sidebar .widget .search-form {
    overflow:visible;
}

#sidebar .widget .search-form input {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}
